html {
    color: #211922;
    font:81.25% 'helvetica neue', arial, sans-serif;
    font-weight: 400;
}

::-webkit-scrollbar {
    width: 14px;
    height: 18px;
}
::-webkit-scrollbar-thumb {
    border: 3px solid transparent;
    background-clip: padding-box;
    -webkit-border-radius: 7px;
    background-color: #cfcfcf;

   -webkit-box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05), inset 1px 1px 0px rgba(0, 0, 0, 0.05);
}
::-webkit-scrollbar-button {
    width: 0;
    height: 0;
    display: none;
}
::-webkit-scrollbar-corner {
    background-color: transparent;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	    border: 3px solid transparent;
    background-clip: padding-box;
    -webkit-border-radius: 7px;
    background-color: #bfbfbf;

   -webkit-box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05), inset 1px 1px 0px rgba(0, 0, 0, 0.05);
}
/*========================================================================================================================================================================*/
.Work_Space,.Blocks
{
	border-radius: 5px;
    border:2px solid #0097a7;
    /*box-shadow: inset 0 0 5px #0097a7; */
}

.container
{
    width: 226px;
    height: 119px;
    border:2px solid #0097a7;
    margin-left: -3px;
    margin-top: 0px;
}

.Blocks
{
    width: 226px;
    height: 606px;
    float: left;
    margin-left: -3px;
    margin-top: -610px;
    background-color: #ededed;
    overflow-y: auto;

}

.Work_Space
{
    width: 1285px;
    height: 733px;
    background-color: #f4f4f4;
    margin-top: 0px;
    margin-left: 233px;
}

p
{
  margin-left: 30px;
}
.container,.color_Header,.item_Header,.type_1,.type_2,.item_Variable,.color_Variable,.type_3,.item_Function,.color_Function
{
    border-radius: 5px;
    margin-right: 4px;
    float:left;
}

.type_1,.type_2,.type_3
{
    margin-left: 4%;
    margin-top: 2.5%;
    height: 15%;
    /*border: 0.5px solid red; /*for design only*/
}
.type_1
{
    width: 42.5%;
    float: left; 
}

.type_2
{
    margin-left: 5%;
    width: 42.5%;
    float:left;
}
.type_3
{
    width: 24%;
    float: left;
}

.item_Header,.item_Variable,.item_Function
{
    cursor:context-menu;
    margin-top: 2%;
    margin-left: 0%;
    width: 1%;
    color: #0000007a;
}

.color_Header,.color_Variable,.color_Function
{
    margin-left: 0px;
    margin-top: 0px;

}
.color_Header
{
    width: 5.6%;
    height: 100%;
    background-color: #E1A91A;
}

.color_Variable
{
    width: 5.6%;
    height: 100%;
    background-color: #8A55D7;
}